body {
  font-size: 20px;
}
.container {
  width: 100%;
  max-width: 73.125rem; /*1170px*/
  margin: 0 auto;
}

.list-item__wrap {
  display: flex;
  flex-direction: column;
}
.list-item {
  display: flex;
  justify-content: space-between;
  border: solid grey;
  padding: 1rem;
  align-items: center;
}

.list-item:not(:first-child) {
  border-top: none;
}
.product-photo {
  width: 200px;
  height: auto;
}
.product-description {
  width: 65%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.product-title {
  font-weight: bold;
}

.product-price {
  width: 5%;
  font-weight: bold;
  text-align: right;
  font-size: 24px;
}
.currency {
  width: 5%;
}
.total-cost__wrap {
  display: flex;
  justify-content: space-between;
}
.discount {
  color: white;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border: 2px solid white;

  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  background-color: black;
  padding: 4px 30px;
}
.discount:hover {
  color: black;
  background-color: white;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
}
.total-cost {
  width: 15%;
  font-weight: bold;
  font-size: 24px;
}
.total-cost > p {
  margin: 0;
  text-align: right;
  padding-right: 28px;
  padding-top: 5px;
}
.total {
  display: flex;
  justify-content: space-evenly;
}
